table {
  margin: 150px;
  margin-left: 450px;
  font-size: 20px;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}
tr:nth-child(1) {
  color: #0000ff;
  font-weight: bold;
}

tr:nth-child(1) td:nth-child(1) {
  color: #ff8c9f;
  font-weight: bold;
}

tr:nth-child(2) td:nth-child(1),
tr:nth-child(3) td:nth-child(1),
tr:nth-child(4) td:nth-child(1),
tr:nth-child(5) td:nth-child(1),
tr:nth-child(6) td:nth-child(1),
tr:nth-child(7) td:nth-child(1),
tr:nth-child(8) td:nth-child(1),
tr:nth-child(9) td:nth-child(1),
tr:nth-child(10) td:nth-child(1),
tr:nth-child(11) td:nth-child(1) {
  color: #ff0505;
  font-weight: bold;
}

tr:nth-child(2) td:nth-child(2),
tr:nth-child(3) td:nth-child(3),
tr:nth-child(4) td:nth-child(4),
tr:nth-child(5) td:nth-child(5),
tr:nth-child(6) td:nth-child(6),
tr:nth-child(7) td:nth-child(7),
tr:nth-child(8) td:nth-child(8),
tr:nth-child(9) td:nth-child(9),
tr:nth-child(10) td:nth-child(10),
tr:nth-child(11) td:nth-child(11) {
  color: #09ae09;
  font-weight: bold;
}
